<header
  class="sticky top-[-6.2rem] md:top-[-5.5rem] w-full items-start justify-center z-40 select-none pt-5">
  <div class="max-w-screen-xl mx-auto col-span-2 order-last md:order-none mt-3 md:mt-0">
    <div class="flex items-center justify-between w-full gap-3 pt-10 h-20 mb-5 gap-x-5 md:gap-x-12 px-5">
      <nav class="flex items-center justify-center gap-x-10">
        <a href="/" class="flex items-center gap-x-3 mr-10">
          <img src="/logo.svg" alt="epictetus logo" />
          Epictetus
        </a>
        {{ range .Site.Params.Categories }}
        <a
          href='/{{ if eq . "tags" }}{{ . }}{{ else }}category/{{.slug}}{{ end }}'
          class="swiper-slide flex items-center gap-3 !w-auto hover:bg-white/5 dark:hover:bg-primary-dark-gray py-3 px-2 md:px-5 rounded-lg transition duration-300">
          {{ .name }}
        </a>
        {{ end }}
      </nav>

      {{ partial "search-form.html" . }}
    </div>
  </div>
</header>
