<div class="md:col-span-4 py-4">
  <div class="text-sm opacity-60 flex items-center gap-x-3">
    <span class="uppercase">{{ .params.Category }}</span> <div class="h-1 w-1 rounded-full bg-white"></div> {{ .params.date.Format .site.Params.dateFormat }}
  </div>
  <a href="{{.url}}" class="block hover:underline py-3">
    <figcaption class="font-medium leading-relaxed {{ if eq .type "big" }} line-clamp-3 {{ else }} line-clamp-2 {{ end }} capitalize text-2xl">
      {{ .title }}
    </figcaption>
  </a>
  <p class="opacity-60 leading-relaxed tracking-wider {{ if eq .type "big" }} line-clamp-4 {{ else }} line-clamp-3{{ end }}">
    {{ .params.Description }}
  </p>
  <div class="flex items-center gap-3 mt-5">
    <img src="{{ .params.Author_photo }}" class="w-[50px] h-[50px] aspect-square rounded-full object-cover" alt="{{ .params.Author }}">
    <div>
      <h3>{{ .params.Author }}</h3>
      <p class="opacity-60 text-sm">{{ .params.Author_job }}</p>
    </div>
  </div>
</div>