<figure class="post-card mt-3 md:mt-0 pt-8 md:pt-0 col-span-1">
  <a href="{{.Permalink}}" class="block w-full rounded-md hover:opacity-90 transition aspect-video">
    {{ if .Params.Thumbnail }}
    <img
      src="{{ .Params.Thumbnail }}"
      class="w-full h-full object-cover rounded-lg"
      alt="{{ .Title }}" />
    {{ end }}
  </a>
  {{- partial "components/card-article-body.html" (dict 
    "type" "normal" 
    "title" .Title
    "params" .Params
    "url" .Permalink
    "site" .Site
   )}}
</figure>
