<!DOCTYPE html>
<html class="scroll-smooth scroll-pt-20">
  {{- partial "head.html" . -}}
</head>

<body class="bg-gradient-to-b from-primary to-secondary mx-auto overflow-x-hidden text-white min-h-screen">
  {{- partial "header.html" . -}}

  <section class="max-w-screen-xl mx-auto px-0 md:px-0 py-6">
    {{- block "main" . }}{{- end }}
  </section>

  {{- partial "footer.html" . -}}
  {{ partial "search-index.html" . }}
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>
  {{- block "scripts" . }}{{- end }}
</body>
</html>