{{ define "main" }}

<main class="md:pr-8 space-y-0 md:space-y-4 mb-12 lg:mb-0">
  <article class="p-4 md:p-6">
    <div class="flex flex-col items-center py-5">
      <div class="text-sm opacity-60 flex items-center gap-x-3">
        <span class="uppercase">{{ .Params.Category }}</span>
        <div class="h-1 w-1 rounded-full bg-white"></div>
        {{ .Params.date.Format .Site.Params.dateFormat }}
      </div>
      <h1 class="font-medium leading-loose capitalize text-2xl mt-3 w-full md:w-2/3 text-center">
        {{ .Title }}
      </h1>
      <div class="flex items-center gap-3 mt-5">
        <img
          src="{{ .Params.Author_photo }}"
          class="w-14 h-14 aspect-square rounded-full object-cover"
          alt="{{ .Params.Author }}" />
        <div>
          <h3>{{ .Params.Author }}</h3>
          <p class="opacity-60">{{ .Params.Author_job }}</p>
        </div>
      </div>
    </div>

    <img
      src="{{ .Params.Thumbnail }}"
      class="mt-5 rounded w-full aspect-video object-cover"
      alt="article cover" />

    {{partial "toc.html" .}}

    <br />

    <div
      class="
        prose !max-w-screen-lg mx-auto
        prose-a:text-blue-300 
        prose-img:w-full 
        prose-headings:mb-8 
        prose-p:text-base 
        lg:prose-p:text-lg 
        prose-headings:!text-white/90 
        prose-headings:tracking-wider
        p-0 md:p-10 
        leading-loose 
        [&>*]:text-white/80 
        [&>*]:tracking-wider 
      ">
      {{.Content}}
    </div>
  </article>
</main>

<!-- Jika content memiliki pre atau bisa dibilang mempunyai block code maka masukan script -->
{{end}} {{ define "scripts"}} {{ if (findRE "<pre" .Content 1) }}
<script src="/js/copy-code-button.js"></script>
{{ end }} {{ end }}
