{{ define "main" }}

<div class="grid grid-cols-1 md:grid-cols-4 h-max">
  <main class="col-span-3 md:pr-8 space-y-0 md:space-y-4 mb-12 lg:mb-0">
    <article class="p-4 md:p-6">
      <img src="{{ .Params.Thumbnail }}" class="rounded w-full" alt="article cover" />

      <div class="pt-3 space-y-5 mt-3 mb-6 pb-7 border-b border-primary-gray">
        <h1 class="text-3xl font-bold leading-none capitalize">{{ .Title }}</h1>
        <div class="flex items-center gap-x-5">
          {{ range .Params.Tags }}
            <div class="flex items-center gap-2 text-sm dark:text-white font-bold text-primary-tosca">
              <img
                class="w-[1.1rem] h-[1.1rem]"
                src="/images/icons/tag.svg"
                alt="" />
              {{ . }}
            </div>
          {{ end }}
        </div>
      </div>

      {{partial "toc.html" .}}

      <br />

      <div class="prose dark:prose-invert prose-a:text-primary-blue prose-img:w-full !max-w-full border-b border-primary-gray pb-10">
        {{.Content}}
      </div>
    </article>
  </main>
</div>

{{end}}


{{ define "scripts"}}
  {{ if (findRE "<pre" .Content 1) }}
    <!-- Jika content memiliki pre atau bisa dibilang mempunyai block code maka masukan script -->
    <script src="/js/copy-code-button.js"></script>
  {{ end }}
{{ end }}