{{ define "main" }}
  <main class="py-20 flex flex-col items-center">

    <div class="flex gap-14 items-center justify-center">
      <img src="/images/404.svg" alt="404">
      <div>
        <h2 class="text-primary-tosca font-bold text-6xl mb-5">404</h2>
        <h3 class="text-soft-dark font-bold text-2xl mb-6 capitalize">page not found!</h3>
        <p class="text-soft-dark">Halaman yang anda cari tidak tersedia</p>
      </div>
    </div>

    <a href="" class="block text-white w-60 py-3 rounded-lg bg-primary-tosca text-lg font-semibold mt-16 text-center">Go home</a>
  </main>
{{ end }}