{{ define "main" }}
{{ $paginate := .Paginate (where .Site.RegularPages "Kind" "page" )}}
<main class="space-y-0 md:space-y-4 mb-12 lg:mb-0">

  <section class="post-container md:grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-6 lg:gap-y-14 px-5 divide-y divide-white/10">
    {{ range $index, $value :=  $paginate.Pages }}
    {{ if and (eq $index 0) (eq $paginate.PageNumber 1) }}
      {{- partial "components/big-card-article.html" . -}}
      {{ else }}
      {{- partial "components/card-article.html" . -}}
    {{ end }}
  {{end}}
  </section>

  <div class="pt-16 flex justify-center w-full">
    {{- if .Paginator.HasNext -}}
    <div class="text-center pt-6 pb-16">
      <a href="{{ .Paginator.Next.URL }}"
        class="post-load-more block px-16 py-3 rounded-md text-white bg-primary/30 tracking-wider font-semibold text-lg bg-primary-tosca hover:opacity-90 transition">
        Load More
      </a>
    </div>
    {{- end -}}

  </div>
</main>
{{end}}

{{ define "scripts" }}

<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
<script>

  const postContainer = document.querySelector('.post-container');

  const options = {
    path: '.post-load-more',
    append: '.post-card',
    loadOnScroll: false,
    button: '.post-load-more',
    history: null
  };

  const infScroll = new InfiniteScroll(postContainer, options);
</script>
{{ end }}