{{ define "main" }}

<section class="text-center py-10">
  <h1 class="font-bold text-3xl mb-5 text-soft-dark dark:text-soft-gray">
    Search: <span class="query text-primary-tosca"></span>
  </h1>
</section>

<ul id="results" class="post-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-12 px-5">
	<li>
		Enter a keyword above to search this site.
	</li>
</ul>
{{ end }}


{{ define "scripts" }}
<script>
	const searchQueryEl = document.querySelector('.query');
	const url = new URL(window.location.href);
	const searchQuery = url.searchParams.get("query");
	searchQueryEl.textContent = searchQuery
</script>
{{ end }}